---
import ResourceLink from "./ResourceLink.astro"

const { note } = Astro.props
---

<div class="flex flex-col gap-y-3">
  <div class="flex justify-between items-center">
    <div class="flex flex-col gap-y-2">
      <h2 class="text-xl/4">
        <a href={note.link} class="link">{note.title}</a>
      </h2>
      <p class="text-xs">
        <span>Found on -</span>
        <span class="text-gray-400">{note.date}</span>
      </p>
    </div>
    <ResourceLink link={note.href}>
      <span class="text-xs font-bold">Notes</span>
    </ResourceLink>
  </div>

  <div class="flex flex-wrap gap-x-3">
    {note.tags.map((tag: string) => (
      <span class="text-background bg-primary px-3 py-1 text-xs rounded-md font-bold">{tag}</span>
    ))}
  </div>

  <p class="text-sm text-gray-300">{note.oneLiner}</p>
</div>